{% extends 'base.html' %}

{% block content %}
  <h2>My Posts</h2>
  <a href="{% url 'create post' %}">Create New Post</a>
  <ul>
    {% for post in posts %}
      <li>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <p>Created: {{ post.created_date }}</p>
        <p>modified: {{ post.modified_date }}</p>
        <a href="{% url 'edit_post' post.pk %}">Edit</a>
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}